<div>
    <h1>Customer</h1>
    @Html.ActionLink("Create", "CreateCustomer", "Home")
</div>
<div>
    <div>
        <label>FrstName:</label>
    </div>
    <div>
        <label>LastName:</label>
    </div>
    <div>
        <label>Email:</label>
    </div>
    <div>
        <label>Phone:</label>
    </div>
    <div>
        <label>Street:</label>
    </div>
    <div>
        <label>City:</label>
    </div>
    <div>
        <label>State:</label>
        <select></select>
    </div>
    <div>
        <label>Zip Code:</label>
    </div>
</div>
<div>

</div>
