<div>
    <select>Product</select>
    <select>Filter</select>
</div>
<div>
    <div>
        <label>Product Details</label>
        <div></div>
    </div>
    <div>
        <img />
    </div>
</div>
